<!-- Nội dung trang -->
<div id='mainContent'>
  <div class="container-fluid">
    <h4 class="c-grey-900 mT-10 mB-30">Order List</h4>
    <div class="row">
      <div class="col-md-12">
        <div class="bgc-white bd bdrs-3 p-20 mB-20">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Address</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {{#each orders}}
                <tr>
                  <th scope="row">{{@index}}</th>
                  <td>{{this.billing.firstName}} {{this.billing.lastName}}</td>
                  <td>{{this.billing.streetAddress}}, {{this.billing.district}}, {{this.billing.provinceCity}}</td>
                  <td>{{this.billing.email}}</td>
                  <td>{{this.billing.phone}}</td>
                  <td>{{this.paymentMethod}}</td>
                  <td>{{this.total}}</td>
                  <td>{{this.status}}</td>
                  <td>
                    <button class="btn btn-danger" onclick="deleteOrder('{{this._id}}')">Delete</button>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  async function deleteOrder(orderId) {
    const confirmed = confirm('Are you sure you want to delete this order?');
    if (confirmed) {
      try {
        const response = await fetch(`/admin/order/${orderId}/delete`, {
          method: 'POST',
        });

        const result = await response.json();
        alert(result.message);

        if (result.success) {
          location.reload();
        }
      } catch (error) {
        console.error('Error deleting order:', error);
        alert('Error deleting order. Please try again.');
      }
    }
  }
</script>
