<!-- Header  Section start -->

<!-- breedcrumb section start  -->
<div class="section breedcrumb">
  <div class="breedcrumb__img-wrapper">
    <img src="src/images/banner/breedcrumb.jpg" alt="breedcrumb" />
    <div class="container">
      <ul class="breedcrumb__content">
        <li>
          <a href="index.html">
            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1 8L9 1L17 8V18H12V14C12 13.2044 11.6839 12.4413 11.1213 11.8787C10.5587 11.3161 9.79565 11 9 11C8.20435 11 7.44129 11.3161 6.87868 11.8787C6.31607 12.4413 6 13.2044 6 14V18H1V8Z"
                stroke="#808080" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <span> > </span>
          </a>
        </li>
        <li>
          <a href="#">
            Shopping Cart
            <span> > </span>
          </a>
        </li>
        <li class="active"><a href="checkout.html">Checkout</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- breedcrumb section end   -->

<!-- Billing Section Start  -->
<section class="section billing section--xl pt-0">
  <div class="container">
    <div class="row billing__content">
      <div class="col-lg-8">
        <div class="billing__content-card">
          <div class="billing__content-card-header">
            <h2 class="font-body--xxxl-500">Billing Information</h2>
          </div>
          <div class="billing__content-card-body">
<form action="/checkout/createOrder" method="post" enctype="application/x-www-form-urlencoded">
  <div class="contact-form__content">
    <div class="contact-form__content-group">
      <div class="contact-form-input">
        <label for="fname1">First Name </label>
        <input type="text" id="fname1" name="billing[firstName]" placeholder="Your first name" />
      </div>
      <div class="contact-form-input">
        <label for="lname2">Last Name </label>
        <input type="text" id="lname2" name="billing[lastName]" placeholder="Your last name" />
      </div>
      <div class="contact-form-input">
        <label for="company">Company Name <span>(Optional)</span></label>
        <input type="text" id="company" name="billing[companyName]" placeholder="Company name" />
      </div>
    </div>

    <div class="contact-form-input">
      <label for="address">Street Address </label>
      <input type="text" id="address" name="billing[streetAddress]" placeholder="Your Address" />
    </div>

    <div class="contact-form__content-group">
      <!-- Country -->
      <div class="contact-form-input">
        <label for="City">Province/City</label>
        <input type="text" id="City" name="billing[provinceCity]" placeholder="Your Province/City" />
      </div>
      <!-- States -->
      <div class="contact-form-input">
        <label for="district">District </label>
        <input type="text" id="district" name="billing[district]" placeholder="Your District" />
      </div>
    </div>

    <div class="contact-form__content-group">
      <div class="contact-form-input">
        <label for="email">Email </label>
        <input type="text" id="email" name="billing[email]" placeholder="Email Address" />
      </div>
      <div class="contact-form-input">
        <label for="phone">Phone </label>
        <input type="number" id="phone" name="billing[phone]" placeholder="Phone number" />
      </div>
    </div>

    <div class="contact-form-input">
      <label for="payment">Payment Method</label>
      <select id="payment" name="paymentMethod">
        <option value="cash">Cash</option>
        <option value="momo">Momo</option>
      </select>
    </div>
    <div class="contact-form-input">
      <label for="additionalInfo">Additional Information</label>
      <input id="additionalInfo" name="additionalInformation[notes]" placeholder="Additional information"></input>
    </div>
  </div>
  <button class="button button--lg w-100" type="submit">Place Order</button>
</form>



          </div>
        </div>

      </div>
      <div class="col-lg-4">
        <div class="bill-card">
          <div class="bill-card__content">
            <div class="bill-card__header">
              <h2 class="bill-card__header-title font-body--xxl-500">
                Order Summery
              </h2>
            </div>
            <div class="bill-card__body">
              <!-- Product Info -->
              <div class="bill-card__product">
                {{#each cart.items}}

                <div class="bill-card__product-item">
                  <div class="bill-card__product-item-content">
                    <div class="img-wrapper">
                      <img src="uploads/{{this.product.img}}" alt="product-img" />
                    </div>
                    <h5 class="font-body--md-400">
                      {{this.product.product_name}} <span class="quantity"> x{{this.quantity}}</span>
                    </h5>
                  </div>

                  <p class="bill-card__product-price font-body--md-500">
                    ${{this.subtotal}}
                  </p>
                </div>
                {{/each}}

              </div>
              <!-- memo  -->
              <div class="bill-card__memo">
                <!-- Subtotal  -->
                <div class="bill-card__memo-item subtotal">
                  <p class="font-body--md-400">Subtotal:</p>
                  <span class="font-body--md-500">${{cart.total}}</< /span>
                </div>
                <!-- Shipping  -->
                <div class="bill-card__memo-item shipping">
                  <p class="font-body--md-400">Shipping:</p>
                  <span class="font-body--md-500">Free</span>
                </div>
                <!-- total  -->
                <div class="bill-card__memo-item total">
                  <p class="font-body--lg-400">Total:</p>
                  <span class="font-body--xl-500">${{cart.total}}</span>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Billing Section  End  -->