<!-- Breadcrumb Section Start  -->
<div class="breedcrumb breedcrumb--two">
    <div class="container">
        <ul class="breedcrumb__content">
            <li>
                <a href="index.html">
                    <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1 8L9 1L17 8V18H12V14C12 13.2044 11.6839 12.4413 11.1213 11.8787C10.5587 11.3161 9.79565 11 9 11C8.20435 11 7.44129 11.3161 6.87868 11.8787C6.31607 12.4413 6 13.2044 6 14V18H1V8Z"
                            stroke="#808080" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span> > </span>
                </a>
            </li>
            <li class="">
                <a href="faq.html">
                    Categories
                    <span> ></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- Breadcrumb Section End  -->

<!-- Banner Section Start  -->
<section class="banner-sales">
    <div class="container">
        <div class="banner-sales__content">
            <img src="src/images/banner/banner-lg-17.jpg" alt="banner" />
            <div class="text-content">
                <span class="title">Best Deals</span>
                <h2 class="font-title--lg">Sale of the Month</h2>
                <div id="countdown" class="countdown-clock"></div>
                <a href="#" class="button button--md">
                    Shop now
                    <span>
                        <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 7.50049H1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M9.95001 1.47559L16 7.49959L9.95001 13.5246" stroke="currentColor"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </span>
                </a>
            </div>
            <div class="sale-off">
                <h5>56%</h5>
                <p>off</p>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End  -->

<!-- Filter section Start  -->
<div class="filter__sidebar">
    <button class="filter">
        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M18 5.75C18.4142 5.75 18.75 5.41421 18.75 5C18.75 4.58579 18.4142 4.25 18 4.25V5.75ZM9 4.25C8.58579 4.25 8.25 4.58579 8.25 5C8.25 5.41421 8.58579 5.75 9 5.75V4.25ZM18 4.25H9V5.75H18V4.25Z"
                fill="white"></path>
            <path
                d="M13 14.75C13.4142 14.75 13.75 14.4142 13.75 14C13.75 13.5858 13.4142 13.25 13 13.25V14.75ZM4 13.25C3.58579 13.25 3.25 13.5858 3.25 14C3.25 14.4142 3.58579 14.75 4 14.75V13.25ZM13 13.25H4V14.75H13V13.25Z"
                fill="white"></path>
            <circle cx="5" cy="5" r="4" stroke="white" stroke-width="1.5"></circle>
            <circle cx="17" cy="14" r="4" stroke="white" stroke-width="1.5"></circle>
        </svg>
    </button>
    <div class="filter-box">
        <div class="container">
            <div class="filter-box__top">
                <div class="filter-box__top-left">
<div class="select-box--item">
  <select id="category" class="filter__dropdown-menu" onchange="applyCategoryFilter()">
    <option value="">-- Chọn danh mục --</option>
    {{#each categories}}
      <option value="{{this._id}}">{{this.category_name}}</option>
    {{/each}}
  </select>
</div>

          <div class="select-box--item">
  <select id="price" class="filter__dropdown-menu" onchange="applyFilter()">
    <option value="1">Min $5 - max $10</option>
    <option value="2">Min $10 - max $20</option>
    <option value="3">Min $20 - max $100</option>
  </select>
</div>


                </div>
                <div class="filter-box__top-right ">
                    <!-- Thêm nút chọn để chọn cácxh sắp xếp -->
                    <select id="sortSelector"  onchange="changeSort()">
                        <option value="default">Sort Option</option>
                        <option value="product_name">Name</option>
                        <option value="price">Price</option>
                        <option value="discount">discount</option>

                    </select>


                </div>
            </div>
        </div>
       
    </div>
</div>
<!-- Filter section End  -->

<!-- Shop list Section Start  -->
<section class="shop shop--two">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Desktop Version  -->
                <div class="row shop__product-items">

                    {{#each products}}

                    <div class="col-lg-3 col-md-6">
                        <div class="cards-md cards-md--four w-100">
                            <div class="cards-md__img-wrapper">
                                <a href="product-details.html">
                                    <img src="src/images/products/img-02.png" alt="products" />
                                </a>
                                <div class="cards-md__favs-list">
                                    <span class="action-btn">
                                        <svg width="20" height="18" viewBox="0 0 20 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M9.9996 16.5451C-6.66672 7.3333 4.99993 -2.6667 9.9996 3.65668C14.9999 -2.6667 26.6666 7.3333 9.9996 16.5451Z"
                                                stroke="currentColor" stroke-width="1.5"></path>
                                        </svg>
                                    </span>
                                    <span class="action-btn" data-bs-toggle="modal" data-bs-target="#productView">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10 3.54102C3.75 3.54102 1.25 10.0001 1.25 10.0001C1.25 10.0001 3.75 16.4577 10 16.4577C16.25 16.4577 18.75 10.0001 18.75 10.0001C18.75 10.0001 16.25 3.54102 10 3.54102V3.54102Z"
                                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round"></path>
                                            <path
                                                d="M10 13.125C10.8288 13.125 11.6237 12.7958 12.2097 12.2097C12.7958 11.6237 13.125 10.8288 13.125 10C13.125 9.1712 12.7958 8.37634 12.2097 7.79029C11.6237 7.20424 10.8288 6.875 10 6.875C9.1712 6.875 8.37634 7.20424 7.79029 7.79029C7.20424 8.37634 6.875 9.1712 6.875 10C6.875 10.8288 7.20424 11.6237 7.79029 12.2097C8.37634 12.7958 9.1712 13.125 10 13.125V13.125Z"
                                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round"></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <div class="cards-md__info d-flex justify-content-between align-items-center">
                                <a href="product-details.html" class="cards-md__info-left">
                                    <h6 class="font-body--md-400">{{this.product_name}}</h6>
                                    <div class="cards-md__info-price">
                                        <span class="font-body--lg-500">${{price}}</span>
                                        <del class="font-body--lg-400">${{discount}}</del>
                                    </div>
                                    <ul class="cards-md__info-rating d-flex">
                                        <li>
                                            <svg width="12" height="13" viewBox="0 0 12 13" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M6.20663 9.44078L8.57101 10.9385C8.87326 11.1298 9.24826 10.8452 9.15863 10.4923L8.47576 7.80541C8.45647 7.73057 8.45869 7.6518 8.48217 7.57816C8.50566 7.50453 8.54945 7.43902 8.60851 7.38916L10.7288 5.62478C11.007 5.39303 10.8638 4.93066 10.5056 4.90741L7.73701 4.72741C7.66246 4.72212 7.59096 4.69577 7.53081 4.65142C7.47066 4.60707 7.42435 4.54656 7.39726 4.47691L6.36451 1.87666C6.33638 1.80276 6.28647 1.73916 6.22137 1.69428C6.15627 1.6494 6.07907 1.62537 6.00001 1.62537C5.92094 1.62537 5.84374 1.6494 5.77864 1.69428C5.71354 1.73916 5.66363 1.80276 5.63551 1.87666L4.60276 4.47691C4.57572 4.54663 4.52943 4.60722 4.46928 4.65164C4.40913 4.69606 4.33759 4.72246 4.26301 4.72778L1.49438 4.90778C1.13663 4.93066 0.992631 5.39303 1.27126 5.62478L3.39151 7.38953C3.4505 7.43936 3.49424 7.50481 3.51772 7.57837C3.54121 7.65193 3.54347 7.73062 3.52426 7.80541L2.89126 10.2973C2.78363 10.7207 3.23401 11.0623 3.59626 10.8324L5.79376 9.44078C5.85552 9.40152 5.92719 9.38066 6.00038 9.38066C6.07357 9.38066 6.14524 9.40152 6.20701 9.44078H6.20663Z"
                                                    fill="#FF8A00"></path>
                                            </svg>
                                        </li>
                                        <li>
                                            <svg width="12" height="13" viewBox="0 0 12 13" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M6.20663 9.44078L8.57101 10.9385C8.87326 11.1298 9.24826 10.8452 9.15863 10.4923L8.47576 7.80541C8.45647 7.73057 8.45869 7.6518 8.48217 7.57816C8.50566 7.50453 8.54945 7.43902 8.60851 7.38916L10.7288 5.62478C11.007 5.39303 10.8638 4.93066 10.5056 4.90741L7.73701 4.72741C7.66246 4.72212 7.59096 4.69577 7.53081 4.65142C7.47066 4.60707 7.42435 4.54656 7.39726 4.47691L6.36451 1.87666C6.33638 1.80276 6.28647 1.73916 6.22137 1.69428C6.15627 1.6494 6.07907 1.62537 6.00001 1.62537C5.92094 1.62537 5.84374 1.6494 5.77864 1.69428C5.71354 1.73916 5.66363 1.80276 5.63551 1.87666L4.60276 4.47691C4.57572 4.54663 4.52943 4.60722 4.46928 4.65164C4.40913 4.69606 4.33759 4.72246 4.26301 4.72778L1.49438 4.90778C1.13663 4.93066 0.992631 5.39303 1.27126 5.62478L3.39151 7.38953C3.4505 7.43936 3.49424 7.50481 3.51772 7.57837C3.54121 7.65193 3.54347 7.73062 3.52426 7.80541L2.89126 10.2973C2.78363 10.7207 3.23401 11.0623 3.59626 10.8324L5.79376 9.44078C5.85552 9.40152 5.92719 9.38066 6.00038 9.38066C6.07357 9.38066 6.14524 9.40152 6.20701 9.44078H6.20663Z"
                                                    fill="#FF8A00"></path>
                                            </svg>
                                        </li>
                                        <li>
                                            <svg width="12" height="13" viewBox="0 0 12 13" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M6.20663 9.44078L8.57101 10.9385C8.87326 11.1298 9.24826 10.8452 9.15863 10.4923L8.47576 7.80541C8.45647 7.73057 8.45869 7.6518 8.48217 7.57816C8.50566 7.50453 8.54945 7.43902 8.60851 7.38916L10.7288 5.62478C11.007 5.39303 10.8638 4.93066 10.5056 4.90741L7.73701 4.72741C7.66246 4.72212 7.59096 4.69577 7.53081 4.65142C7.47066 4.60707 7.42435 4.54656 7.39726 4.47691L6.36451 1.87666C6.33638 1.80276 6.28647 1.73916 6.22137 1.69428C6.15627 1.6494 6.07907 1.62537 6.00001 1.62537C5.92094 1.62537 5.84374 1.6494 5.77864 1.69428C5.71354 1.73916 5.66363 1.80276 5.63551 1.87666L4.60276 4.47691C4.57572 4.54663 4.52943 4.60722 4.46928 4.65164C4.40913 4.69606 4.33759 4.72246 4.26301 4.72778L1.49438 4.90778C1.13663 4.93066 0.992631 5.39303 1.27126 5.62478L3.39151 7.38953C3.4505 7.43936 3.49424 7.50481 3.51772 7.57837C3.54121 7.65193 3.54347 7.73062 3.52426 7.80541L2.89126 10.2973C2.78363 10.7207 3.23401 11.0623 3.59626 10.8324L5.79376 9.44078C5.85552 9.40152 5.92719 9.38066 6.00038 9.38066C6.07357 9.38066 6.14524 9.40152 6.20701 9.44078H6.20663Z"
                                                    fill="#FF8A00"></path>
                                            </svg>
                                        </li>
                                        <li>
                                            <svg width="12" height="13" viewBox="0 0 12 13" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M6.20663 9.44078L8.57101 10.9385C8.87326 11.1298 9.24826 10.8452 9.15863 10.4923L8.47576 7.80541C8.45647 7.73057 8.45869 7.6518 8.48217 7.57816C8.50566 7.50453 8.54945 7.43902 8.60851 7.38916L10.7288 5.62478C11.007 5.39303 10.8638 4.93066 10.5056 4.90741L7.73701 4.72741C7.66246 4.72212 7.59096 4.69577 7.53081 4.65142C7.47066 4.60707 7.42435 4.54656 7.39726 4.47691L6.36451 1.87666C6.33638 1.80276 6.28647 1.73916 6.22137 1.69428C6.15627 1.6494 6.07907 1.62537 6.00001 1.62537C5.92094 1.62537 5.84374 1.6494 5.77864 1.69428C5.71354 1.73916 5.66363 1.80276 5.63551 1.87666L4.60276 4.47691C4.57572 4.54663 4.52943 4.60722 4.46928 4.65164C4.40913 4.69606 4.33759 4.72246 4.26301 4.72778L1.49438 4.90778C1.13663 4.93066 0.992631 5.39303 1.27126 5.62478L3.39151 7.38953C3.4505 7.43936 3.49424 7.50481 3.51772 7.57837C3.54121 7.65193 3.54347 7.73062 3.52426 7.80541L2.89126 10.2973C2.78363 10.7207 3.23401 11.0623 3.59626 10.8324L5.79376 9.44078C5.85552 9.40152 5.92719 9.38066 6.00038 9.38066C6.07357 9.38066 6.14524 9.40152 6.20701 9.44078H6.20663Z"
                                                    fill="#FF8A00"></path>
                                            </svg>
                                        </li>
                                        <li>
                                            <svg width="12" height="13" viewBox="0 0 12 13" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M6.20663 9.44078L8.57101 10.9385C8.87326 11.1298 9.24826 10.8452 9.15863 10.4923L8.47576 7.80541C8.45647 7.73057 8.45869 7.6518 8.48217 7.57816C8.50566 7.50453 8.54945 7.43902 8.60851 7.38916L10.7288 5.62478C11.007 5.39303 10.8638 4.93066 10.5056 4.90741L7.73701 4.72741C7.66246 4.72212 7.59096 4.69577 7.53081 4.65142C7.47066 4.60707 7.42435 4.54656 7.39726 4.47691L6.36451 1.87666C6.33638 1.80276 6.28647 1.73916 6.22137 1.69428C6.15627 1.6494 6.07907 1.62537 6.00001 1.62537C5.92094 1.62537 5.84374 1.6494 5.77864 1.69428C5.71354 1.73916 5.66363 1.80276 5.63551 1.87666L4.60276 4.47691C4.57572 4.54663 4.52943 4.60722 4.46928 4.65164C4.40913 4.69606 4.33759 4.72246 4.26301 4.72778L1.49438 4.90778C1.13663 4.93066 0.992631 5.39303 1.27126 5.62478L3.39151 7.38953C3.4505 7.43936 3.49424 7.50481 3.51772 7.57837C3.54121 7.65193 3.54347 7.73062 3.52426 7.80541L2.89126 10.2973C2.78363 10.7207 3.23401 11.0623 3.59626 10.8324L5.79376 9.44078C5.85552 9.40152 5.92719 9.38066 6.00038 9.38066C6.07357 9.38066 6.14524 9.40152 6.20701 9.44078H6.20663Z"
                                                    fill="#CCCCCC"></path>
                                            </svg>
                                        </li>
                                    </ul>
                                </a>
                                <div class="cards-md__info-right">
                                    <span class="action-btn">
                                        <svg width="20" height="21" viewBox="0 0 20 21" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M6.66667 8.83333H4.16667L2.5 18H17.5L15.8333 8.83333H13.3333M6.66667 8.83333V6.33333C6.66667 4.49239 8.15905 3 10 3V3C11.8409 3 13.3333 4.49238 13.3333 6.33333V8.83333M6.66667 8.83333H13.3333M6.66667 8.83333V11.3333M13.3333 8.83333V11.3333"
                                                stroke="currentColor" stroke-width="1.3" stroke-linecap="round"
                                                stroke-linejoin="round"></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}

                </div>

                <nav aria-label="...">
                    <ul id="pagination" class="pagination pagination-xl pagination justify-content-center">

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>


<script>
    function changeSort() {
    const selectedSort = document.getElementById('sortSelector').value;
    const currentUrl = new URL(window.location.href);
    currentUrl.searchParams.set('sort', selectedSort);
    window.location.href = currentUrl.toString();
  }
    function applyFilter() {
  const selectedPrice = document.getElementById('price').value;
  const currentUrl = new URL(window.location.href);
  currentUrl.searchParams.set('price', selectedPrice);
  window.location.href = currentUrl.toString();
}

    function applyCategoryFilter() {
    const selectedCategory = document.getElementById('category').value;
    const currentUrl = new URL(window.location.href);
    currentUrl.searchParams.set('category', selectedCategory);
    console.log('Selected Category view:', selectedCategory);
    window.location.href = currentUrl.toString();
  }

        // Function để tạo một nút phân trang
    function createPageItem(page, text, clickable, isActive) {
        const paginationElement = document.getElementById("pagination");

        const li = document.createElement("li");
        li.className = "page-item pagination-item";
        //li.classList.add("active");

        const a = document.createElement("a");
        a.className = "page-link pagination-link";

        const currentPath = window.location.pathname;
        const newHref = `${currentPath}?page=${page}`;
        a.href = newHref; // Thay thế bằng đường dẫn thực tế khi bạn đã xử lý sự kiện nhấp vào nút.

        if (clickable) {
            a.addEventListener("click", () =>{
                handlePageClick(page);
                //li.classList.add("active");
            });
            
        } else {
            a.tabIndex = -1;
        }

        a.innerText = text;
        li.dataset.page = page;

        li.appendChild(a);
        paginationElement.appendChild(li);

        if (!isActive && clickable) {
            li.addEventListener("mouseenter", () => li.classList.add("hovered"));
            li.addEventListener("mouseleave", () => li.classList.remove("hovered"));
        }

        if (isActive) {
            li.classList.add("active");
        }
    
    }
    // Function để tạo các nút phân trang
    function createPagination(totalPages, currentPage) {
        const paginationElement = document.getElementById("pagination");

        // Xóa các nút phân trang cũ
        paginationElement.innerHTML = "";

        // Tạo nút "Trang trước"
        createPageItem(currentPage - 1, "<", currentPage > 1);

        // Tạo các nút phân trang từ 1 đến totalPages
        for (let i = 1; i <= totalPages; i++) {
            createPageItem(i, i.toString(), true, i === currentPage);
        }

        // Tạo nút "Trang sau"
        createPageItem(currentPage + 1, ">", currentPage < totalPages);

        const paginationItems = document.querySelectorAll(".pagination-item");
        paginationItems.forEach((item) => {
        item.addEventListener("click", () => handlePageClick(item.dataset.page));
    });
    }
    

    // Xử lý sự kiện khi người dùng nhấp vào một trang
    function handlePageClick(page) {
        // Thực hiện các xử lý khi người dùng chuyển trang, ví dụ: gửi yêu cầu đến máy chủ để lấy dữ liệu trang mới.
        // Sau đó, gọi lại createPagination với dữ liệu mới.

        
        console.log(`Đã chuyển đến trang ${page}`);
        const paginationItems = document.querySelectorAll(".pagination-item");
        paginationItems.forEach(item => item.classList.remove("active"));
        li.classList.add("active");
        createPagination(10, page);
    }


    // Gọi createPagination với số trang và trang hiện tại (bạn có thể lấy từ dữ liệu từ server)
    createPagination(10, 1);

</script>
